global
    log stdout format raw local0
    maxconn 5000
    tune.ssl.default-dh-param 2048

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client  60s
    timeout server  60s
    timeout http-request 15s

frontend public_https
    bind *:443 ssl crt /usr/local/etc/haproxy/certs/sps.pem
    http-request set-header X-Forwarded-Proto https
    default_backend kgateway_backend

frontend public_http
    bind *:80
    http-request redirect scheme https code 301 unless { ssl_fc }

backend kgateway_backend
    balance roundrobin
    option httpchk GET / HTTP/1.1\r\nHost:\ localhost
    http-check expect status 200
    server kgateway sps-gateway.sps-ns.svc.cluster.local:80 check
